In [1]:
'hello'.upper()

'HELLO'

In [2]:
import pandas as pd

In [3]:
orders=pd.read_table('http://bit.ly/chiporders')

In [19]:
orders.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
#orders.item_name.str.upper()[:5]

In [9]:
orders.item_name.str.contains('Chicken')[:2]

0    False
1    False
Name: item_name, dtype: bool

In [17]:
orders.choice_description.str.replace('[','').str.replace(']','')[:4]

0           NaN
1    Clementine
2         Apple
3           NaN
Name: choice_description, dtype: object

# 这样就把‘[’和']' 去掉了

In [18]:
orders.choice_description.str.replace('[\[\]]','')[:5]

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: choice_description, dtype: object